<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cbuc.homestay.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="cbuc.homestay.bean.Comment">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="OID" jdbcType="BIGINT" property="oid" />
    <result column="RID" jdbcType="BIGINT" property="rid" />
    <result column="commentor" jdbcType="BIGINT" property="commentor" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="LIKE_COUNT" jdbcType="INTEGER" property="likeCount" />
    <result column="COMMENT_COUNT" jdbcType="INTEGER" property="commentCount" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, OID, RID, commentor, TYPE, CONTENT, LIKE_COUNT, COMMENT_COUNT, CREATE_TIME, STATUS
  </sql>
  <select id="selectByExample" parameterType="cbuc.homestay.bean.CommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ms_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ms_comment
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ms_comment
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cbuc.homestay.bean.CommentExample">
    delete from ms_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="cbuc.homestay.bean.Comment" useGeneratedKeys="true">
    insert into ms_comment (OID, RID, commentor, 
      TYPE, CONTENT, LIKE_COUNT, 
      COMMENT_COUNT, CREATE_TIME, STATUS
      )
    values (#{oid,jdbcType=BIGINT}, #{rid,jdbcType=BIGINT}, #{commentor,jdbcType=BIGINT}, 
      #{type,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{likeCount,jdbcType=INTEGER}, 
      #{commentCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="cbuc.homestay.bean.Comment" useGeneratedKeys="true">
    insert into ms_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="rid != null">
        RID,
      </if>
      <if test="commentor != null">
        commentor,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="likeCount != null">
        LIKE_COUNT,
      </if>
      <if test="commentCount != null">
        COMMENT_COUNT,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=BIGINT},
      </if>
      <if test="commentor != null">
        #{commentor,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="likeCount != null">
        #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cbuc.homestay.bean.CommentExample" resultType="java.lang.Long">
    select count(*) from ms_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ms_comment
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.oid != null">
        OID = #{record.oid,jdbcType=BIGINT},
      </if>
      <if test="record.rid != null">
        RID = #{record.rid,jdbcType=BIGINT},
      </if>
      <if test="record.commentor != null">
        commentor = #{record.commentor,jdbcType=BIGINT},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.likeCount != null">
        LIKE_COUNT = #{record.likeCount,jdbcType=INTEGER},
      </if>
      <if test="record.commentCount != null">
        COMMENT_COUNT = #{record.commentCount,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ms_comment
    set ID = #{record.id,jdbcType=BIGINT},
      OID = #{record.oid,jdbcType=BIGINT},
      RID = #{record.rid,jdbcType=BIGINT},
      commentor = #{record.commentor,jdbcType=BIGINT},
      TYPE = #{record.type,jdbcType=VARCHAR},
      CONTENT = #{record.content,jdbcType=VARCHAR},
      LIKE_COUNT = #{record.likeCount,jdbcType=INTEGER},
      COMMENT_COUNT = #{record.commentCount,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cbuc.homestay.bean.Comment">
    update ms_comment
    <set>
      <if test="oid != null">
        OID = #{oid,jdbcType=BIGINT},
      </if>
      <if test="rid != null">
        RID = #{rid,jdbcType=BIGINT},
      </if>
      <if test="commentor != null">
        commentor = #{commentor,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="likeCount != null">
        LIKE_COUNT = #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        COMMENT_COUNT = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cbuc.homestay.bean.Comment">
    update ms_comment
    set OID = #{oid,jdbcType=BIGINT},
      RID = #{rid,jdbcType=BIGINT},
      commentor = #{commentor,jdbcType=BIGINT},
      TYPE = #{type,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      LIKE_COUNT = #{likeCount,jdbcType=INTEGER},
      COMMENT_COUNT = #{commentCount,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryLast" resultType="cbuc.homestay.bean.Comment">
      SELECT  *  FROM ms_comment t1
      where t1.type = 1
      <if test="mid != null">
        and RID IN ( SELECT id FROM ms_roominfo WHERE mid = #{mid})
      </if>
      ORDER BY  ABS(NOW() - t1.CREATE_TIME) ASC
      limit 1;
  </select>
  <select id="getSelfComment" resultType="cbuc.homestay.bean.Comment">
      SELECT t1.* from ms_comment t1 LEFT JOIN ms_roominfo t2 on t1.RID = t2.ID AND t2.MID = #{id}
  </select>
</mapper>