<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cbuc.homestay.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="cbuc.homestay.bean.Order">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="RID" jdbcType="BIGINT" property="rid" />
    <result column="OPEN_ID" jdbcType="VARCHAR" property="openId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CARDNO" jdbcType="VARCHAR" property="cardno" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="ORDER_CODE" jdbcType="VARCHAR" property="orderCode" />
    <result column="DAY_COUNT" jdbcType="VARCHAR" property="dayCount" />
    <result column="PRICE" jdbcType="REAL" property="price" />
    <result column="COMMENT" jdbcType="VARCHAR" property="comment" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="PAY_TIME" jdbcType="TIMESTAMP" property="payTime" />
    <result column="CONFIRM_TIME" jdbcType="TIMESTAMP" property="confirmTime" />
    <result column="BEGIN_TIME" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, RID, OPEN_ID, NAME, CARDNO, PHONE, ORDER_CODE, DAY_COUNT, PRICE, COMMENT, CREATE_TIME, 
    UPDATE_TIME, PAY_TIME, CONFIRM_TIME, BEGIN_TIME, END_TIME, STATUS
  </sql>
  <select id="selectByExample" parameterType="cbuc.homestay.bean.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ms_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ms_order
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ms_order
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cbuc.homestay.bean.OrderExample">
    delete from ms_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="cbuc.homestay.bean.Order" useGeneratedKeys="true">
    insert into ms_order (RID, OPEN_ID, NAME, 
      CARDNO, PHONE, ORDER_CODE, 
      DAY_COUNT, PRICE, COMMENT, 
      CREATE_TIME, UPDATE_TIME, PAY_TIME, 
      CONFIRM_TIME, BEGIN_TIME, END_TIME, 
      STATUS)
    values (#{rid,jdbcType=BIGINT}, #{openId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{cardno,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{orderCode,jdbcType=VARCHAR}, 
      #{dayCount,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, #{comment,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, 
      #{confirmTime,jdbcType=TIMESTAMP}, #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="cbuc.homestay.bean.Order" useGeneratedKeys="true">
    insert into ms_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        RID,
      </if>
      <if test="openId != null">
        OPEN_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="cardno != null">
        CARDNO,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="orderCode != null">
        ORDER_CODE,
      </if>
      <if test="dayCount != null">
        DAY_COUNT,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="comment != null">
        COMMENT,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="payTime != null">
        PAY_TIME,
      </if>
      <if test="confirmTime != null">
        CONFIRM_TIME,
      </if>
      <if test="beginTime != null">
        BEGIN_TIME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        #{rid,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null">
        #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="dayCount != null">
        #{dayCount,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmTime != null">
        #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cbuc.homestay.bean.OrderExample" resultType="java.lang.Long">
    select count(*) from ms_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ms_order
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.rid != null">
        RID = #{record.rid,jdbcType=BIGINT},
      </if>
      <if test="record.openId != null">
        OPEN_ID = #{record.openId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.cardno != null">
        CARDNO = #{record.cardno,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.orderCode != null">
        ORDER_CODE = #{record.orderCode,jdbcType=VARCHAR},
      </if>
      <if test="record.dayCount != null">
        DAY_COUNT = #{record.dayCount,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        PRICE = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.comment != null">
        COMMENT = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payTime != null">
        PAY_TIME = #{record.payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.confirmTime != null">
        CONFIRM_TIME = #{record.confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.beginTime != null">
        BEGIN_TIME = #{record.beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ms_order
    set ID = #{record.id,jdbcType=BIGINT},
      RID = #{record.rid,jdbcType=BIGINT},
      OPEN_ID = #{record.openId,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      CARDNO = #{record.cardno,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      ORDER_CODE = #{record.orderCode,jdbcType=VARCHAR},
      DAY_COUNT = #{record.dayCount,jdbcType=VARCHAR},
      PRICE = #{record.price,jdbcType=REAL},
      COMMENT = #{record.comment,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      PAY_TIME = #{record.payTime,jdbcType=TIMESTAMP},
      CONFIRM_TIME = #{record.confirmTime,jdbcType=TIMESTAMP},
      BEGIN_TIME = #{record.beginTime,jdbcType=TIMESTAMP},
      END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cbuc.homestay.bean.Order">
    update ms_order
    <set>
      <if test="rid != null">
        RID = #{rid,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        OPEN_ID = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null">
        CARDNO = #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        ORDER_CODE = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="dayCount != null">
        DAY_COUNT = #{dayCount,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        PRICE = #{price,jdbcType=REAL},
      </if>
      <if test="comment != null">
        COMMENT = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmTime != null">
        CONFIRM_TIME = #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="beginTime != null">
        BEGIN_TIME = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cbuc.homestay.bean.Order">
    update ms_order
    set RID = #{rid,jdbcType=BIGINT},
      OPEN_ID = #{openId,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      CARDNO = #{cardno,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      ORDER_CODE = #{orderCode,jdbcType=VARCHAR},
      DAY_COUNT = #{dayCount,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=REAL},
      COMMENT = #{comment,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      CONFIRM_TIME = #{confirmTime,jdbcType=TIMESTAMP},
      BEGIN_TIME = #{beginTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <select id="querySalesData" resultType="java.util.Map">
      SELECT
      DATE_FORMAT(t1.create_time, '%m-%d') AS name,
      count(DISTINCT(t1.ID)) AS value
      FROM
      ms_order t1
      WHERE
      (
      t1.CREATE_TIME <![CDATA[>=]]> #{beginTime}
      AND t1.CREATE_TIME <![CDATA[<=]]> #{endTime}
      <if test="mid != null">
        AND RID IN ( SELECT id FROM ms_roominfo WHERE mid = #{mid})
      </if>
      AND t1.status not in ("WP","DD")
      )
      GROUP BY
      DATE_FORMAT(t1.create_time, '%Y-%m-%d'),DATE_FORMAT(create_time, '%m-%d')
  </select>

  <select id="queryLast" resultType="cbuc.homestay.bean.Order">
      SELECT  *  FROM ms_order t1
      <if test="mid != null">
        where RID IN ( SELECT id FROM ms_roominfo WHERE mid = #{mid})
      </if>
      ORDER BY  ABS(NOW() - t1.CREATE_TIME) ASC
      limit 1;
  </select>
</mapper>