<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cbuc.homestay.mapper.PropertyMapper">
  <resultMap id="BaseResultMap" type="cbuc.homestay.bean.Property">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="RID" jdbcType="BIGINT" property="rid" />
    <result column="PRO_KEY" jdbcType="VARCHAR" property="proKey" />
    <result column="PRO_VALUE" jdbcType="VARCHAR" property="proValue" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, RID, PRO_KEY, PRO_VALUE, STATUS
  </sql>
  <select id="selectByExample" parameterType="cbuc.homestay.bean.PropertyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ms_property
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ms_property
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ms_property
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cbuc.homestay.bean.PropertyExample">
    delete from ms_property
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="cbuc.homestay.bean.Property" useGeneratedKeys="true">
    insert into ms_property (RID, PRO_KEY, PRO_VALUE, 
      STATUS)
    values (#{rid,jdbcType=BIGINT}, #{proKey,jdbcType=VARCHAR}, #{proValue,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="cbuc.homestay.bean.Property" useGeneratedKeys="true">
    insert into ms_property
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        RID,
      </if>
      <if test="proKey != null">
        PRO_KEY,
      </if>
      <if test="proValue != null">
        PRO_VALUE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        #{rid,jdbcType=BIGINT},
      </if>
      <if test="proKey != null">
        #{proKey,jdbcType=VARCHAR},
      </if>
      <if test="proValue != null">
        #{proValue,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cbuc.homestay.bean.PropertyExample" resultType="java.lang.Long">
    select count(*) from ms_property
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ms_property
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.rid != null">
        RID = #{record.rid,jdbcType=BIGINT},
      </if>
      <if test="record.proKey != null">
        PRO_KEY = #{record.proKey,jdbcType=VARCHAR},
      </if>
      <if test="record.proValue != null">
        PRO_VALUE = #{record.proValue,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ms_property
    set ID = #{record.id,jdbcType=BIGINT},
      RID = #{record.rid,jdbcType=BIGINT},
      PRO_KEY = #{record.proKey,jdbcType=VARCHAR},
      PRO_VALUE = #{record.proValue,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cbuc.homestay.bean.Property">
    update ms_property
    <set>
      <if test="rid != null">
        RID = #{rid,jdbcType=BIGINT},
      </if>
      <if test="proKey != null">
        PRO_KEY = #{proKey,jdbcType=VARCHAR},
      </if>
      <if test="proValue != null">
        PRO_VALUE = #{proValue,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cbuc.homestay.bean.Property">
    update ms_property
    set RID = #{rid,jdbcType=BIGINT},
      PRO_KEY = #{proKey,jdbcType=VARCHAR},
      PRO_VALUE = #{proValue,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>